<!DOCTYPE html>
<html layout:decorate="~{base}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<div class="row mb-2" layout:fragment="content-header">
    <div class="col-sm-6">
        <h1 class="m-0 text-dark">Data Customer</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Data</a></li>
            <li class="breadcrumb-item active">Customer</li>
        </ol>
    </div>
</div>

<div class="row" layout:fragment="content-body">


    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">List Data</h3>
                <button class="float-right btn-primary" id="btn-tambah-biodata">Tambah</button>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive">
                <table class="table table-striped table-bordered table-hover nowrap" id="tableBiodata" name="tableBiodata"
                       style="width:100%"></table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->


    <div class="modal fade" id="modal-biodata">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Form Biodata</h4>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-header">

                    </div>
                    <form id="form-biodata" role="form">
                        <input name="id" type="hidden"/>

                        <div class="form-group">
                            <label>Nama Customer : </label>
                            <input class="form-control" id="fullName" name="fullName"
                                   placeholder="Full Name" required type="text">
                        </div>

                        <div class="form-group">
                            <label>Alamat Email : </label>
                            <input class="form-control" id="emailAddress" name="emailAddress"
                                   placeholder="Email Address" required type="text">
                        </div>
                        
                        <div class="form-group">
                            <label>Alamat  : </label>
                            <input class="form-control" id="address" name="address"
                                   placeholder="Address" required type="text">
                        </div>
                        
                        <div class="form-group">
                            <label>Kota/Kabupaten : </label>
                            <input class="form-control" id="nmDati2" name="nmDati2"
                                   placeholder="City" required type="text">
                        </div>


                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" id="btn-save-biodata" type="button">Save</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>


<th:block layout:fragment="add-scripts">
    <script th:src="@{/assets/js/biodata.js}"></script>

    <script>
    
        tableBiodata.create();

        $('#btn-tambah-biodata').click(function () {
            formBiodata.resetForm();
            $('#modal-biodata').modal('show')
        });

        $('#btn-save-biodata').click(function () {
            formBiodata.saveForm()
        })

    </script>
</th:block>

</html>


